.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
  text-align: center;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 50px;
}
.auth-switch {
  text-align: center;
  margin-top: 180px;
  a {
    text-decoration: underline;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
