extends templates/layout

block content 
  h1 #{pageTitle}
  ul#chatList
  form(method="post")#nickForm
    input(type="text" placeholder="Choose a nickname" required)
    input(type="submit" value="Save")
  form(method="post")#chatForm
    input(type="text" placeholder="Write a message" required)
    input(type="submit" value="Send")
    
block scripts 
  script(src="/static/js/chating.js")
