extends layout.pug
include mixins/video

block content  
  h4 Update Video
  form(method="post") 
    input(name="title" placeholder="Video Title" value=video.title required)
    input(type="text" placeholder="Description" value=video.description name="description" required)
    input(type="text" placeholder="Hashtags, separated by comma." value=video.hashtags.join()  name="hashtags" required)
    input(value="Save" type="submit")