extends templates/layout.pug 

block content 
  form(action="" method="post" enctype="multipart/form-data").edit-profile__form
    label(for="avatar") Avatar 
    input(type="file" id="avatar" name="avatar" accept="image/*") 
    input(type="text" required name="name" placeholder="Name" value=loggedInUser.name)
    input(type="email" required name="email" placeholder="Email" value=loggedInUser.email)
    input(type="text" required name="username" placeholder="Username" value=loggedInUser.username)
    input(type="text" required name="location" placeholder="Location" value=loggedInUser.location)
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;
