extends templates/layout.pug 
include mixins/video.pug

block content 
  if errorMessage 
    smail=errorMessage
  form(action="", method="post")   
    input(type="text" required name="username" placeholder="Username")
    input(type="password" required name="password" placeholder="Password")
    input(type="submit", value="Login")
    include partials/social-login
  div.auth-switch
    span Don't have on account? 
    a(href="/join") Create one now &rarr;