extends ../templates/layout 

block content
  if errorMessage 
    small=errorMessage
  form(action="" method="post") 
    input(type="password" required name="oldPassword" placeholder="Old Password" )
    input(type="password" required name="newPassword" placeholder="New Password")
    input(type="password" required name="newPsaawordConfirmation" placeholder="New Password Confirmation")
    input(type="submit" value="Change Password")